@import 'core/animations';
@import 'core/circle';
@import 'core/hoops';
@import 'core/loader';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(45, 24, 63);
}
