@keyframes rotate {

    0% {
        transform: rotate(0)
    }

    50% {
        transform: rotate(180deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes rotateInv {

    0% {
        transform: rotate(360deg)
    }

    100% {
        transform: rotate(0)
    }
}

@keyframes load {

    0%,
    100% {
        transform: translateZ(-70px)
    }


    50% {
        transform: translateZ(70px)
    }
}

@keyframes flip {
    0% {
        transform: rotate3d(-1, 1, 0, 0deg);
        transform-origin: 0% 0%;
    }

    50% {
        transform: rotate3d(-1, 1, 0, -180deg);
        transform-origin: 0% 0%;
        border: 2px solid rgb(247, 226, 39);
    }

    100% {
        transform: rotate3d(-1, 1, 0, 0deg);
        transform-origin: 0% 0%;
    }
}

@keyframes flipInv {
    0% {
        transform: rotateX(0);
        transform-origin: bottom;
    }

    50% {
        transform: rotateX(180deg);
        transform-origin: bottom;
        border: 2px solid rgb(48, 224, 92);
    }

    100% {
        transform: rotateX(0deg);
        transform-origin: bottom;
        box-shadow: 0 0 0;
    }
}


@keyframes flipInvUp {
    0% {
        transform: rotate3d(1, 1, 0, 0deg);
        transform-origin: 100% 0%;
    }

    50% {
        transform: rotate3d(1, 1, 0, 180deg);
        transform-origin: 100% 0%;
        border: 2px solid rgb(23, 7, 236);

    }

    100% {
        transform: rotate3d(1, 1, 0, 0deg);
        transform-origin: 100% 0%;
        box-shadow: 0 0 0;
    }
}