.page {
  min-height: 100vh;
  background: radial-gradient(#720b0b, #3a0202);
}

.heart {
  position: relative;
  width: 200px;
  height: 200px;
  background: #e80202;
  transform: rotate(45deg);
  box-shadow: 30px 30px 200px rgba(0, 0, 0, 0.5);
  transform-style: preserve-3d;
  animation: animate 3s linear infinite;
  margin-top: 35px;
}

.heart:before {
  content: '';
  position: absolute;
  top: -100px;
  width: 200px;
  height: 100px;
  background: #e80202;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}

.heart:after {
  content: '';
  position: absolute;
  left: -100px;
  width: 100px;
  height: 200px;
  background: #e80202;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
